form{
  margin-bottom: 0;
  padding-left: 80px;
}
input{
  margin: 5px;
}
h2{
  text-align: center;
  margin: 5px;
}
h4{
  margin-left: 5px;
}
log{
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
  cursor: pointer;
  position: fixed;
  left: 87%;
  display: inline-block;
}
