nav add {
  margin-top: 55px;
  margin-left: 10px;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
  cursor: pointer;
}

add{
  padding: 10px 10px;
  margin-left: 20px;
}

.search{
  margin-left: 50px;
  margin-right: 15px;
}

select{
  margin-left: 5px;
}

button{
  margin-left: 20px;
}

div{
  display: inline;
}

.container{
  margin-left: 80px;
}

nav a:hover {
  color: white;
  background-color: #42545C;
}

nav a.active {
  background-color: black;
}
log{
  border-radius: 4px;
  cursor: pointer;
  position: fixed;
  left: 87%;
}
