nav add {
  margin-top: 10px;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
  cursor: pointer;
}

add{
  padding: 10px 10px;
  margin-left: 20px;
}

button{
  margin-left: 20px;
}
div{
  display: inline;
}

.container{
  margin-left: 80px;

}

nav a:hover {
  color: white;
  background-color: #42545C;
}
nav a.active {
  background-color: black;
}
