<div class="container" xmlns="http://www.w3.org/1999/html">

<div>
  <div>
    <nav>
      <add [routerLink]="['/modifyEmployee']" [state]=emptyEmployee>New Entry</add>
      <input class="search" type="text" placeholder="ID-Suche" [(ngModel)]="filterId">
      <label>Qualification Filter:</label>
      <select [(ngModel)]="filterQualification">
        <option value="" selected="selected">--<option>
        <option *ngFor="let q of qualificationService.qualifications$ | async" [ngValue]="q.designation">{{q.designation}}</option>
      </select>
      <add [routerLink]="['/qualifications']">Manage Qualifications</add>
      <log [routerLink]="['/login']" >Logout</log>
    </nav>
  </div>
</div>
  <hr>
  <app-employee-display  [filterId]="filterId" [filterQualification]="filterQualification"></app-employee-display>
</div>
