form{
  margin: auto;
  display: inline-list-item;
  text-align: center;
  margin-top: 20%;
  border: 1px #b6b6b6;
  border-radius: 5px;
  background: #b6b6b6;
  height: 220px;
  width: 300px;
}

.container{
  color: red;
}

input{
  margin: 9px;
}

button{
  margin: 9px;
}
