.container{
  display: flex;
  justify-content: center;
  align-items: center;



}
.container1{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 40%;

}
.container2{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 45%;
  left: 40%;

}
.container3{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 45%;

}

input{
  margin: 3px;
}
