h2{
  text-align: center;
  margin: 5px;
}
h6{
  font-size: 17px;
}
.IdInfo{
  position: fixed;
  margin-left: 25%;
  display: inline-block;
  margin-top: 8.8%;
}
.left-column{
  position: fixed;
  margin-left: 25%;
  display: inline-block;
  margin-top: 10%;
}
.right-column{
  position: fixed;
  margin-left: 55%;
  display: inline-block;
  margin-top: 10%;
}
.lower-column{
  position: fixed;
  left: 50%;
  bottom: 100px;
  transform: translate(-50%, 50%);
}

.form-control{
  width: 400px;
}
.qualification-container{
  margin-top: 15px;
}
select{
  margin-top: 15px;
}
.btn{
  margin-left: 10px;
}
span{
border:1px solid black
}

.ng-valid[required], .ng-valid.required  {
  border-left: 20px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 20px solid #a94442; /* red */
}
log{
  border-radius: 4px;
  cursor: pointer;
  position: fixed;
  transform: translate(2180%, 0%);
}
