h2{
  text-align: center;
}
.left-column{
  float: left;
  margin-top: 10%;
  margin-left: 25%;
  display: inline-block;
}
.right-column{
  float: right;
  margin-top: 10%;
  margin-right: 25%;
  display: inline-block;

}
.nav{
  float: bottom;
  display: block;
}
form{

}
.form-control{
  width: 400px;
}
.btn{

}
span{
border:1px solid black
}

.ng-valid[required], .ng-valid.required  {
  border-left: 20px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 20px solid #a94442; /* red */
}
